# This notebook shows the data stored in the packages and can be used for demonstrations. Pay attention to the structure of the data and required columns.

## data_vfpwgRetest24d2: Short-term retest static automated perimetry data (from visualFields package)

### Description: Thirty patients recruited from the glaucoma clinics at the Queen Elizabeth Health Sciences Centre in Halifax, Nova Scotia. Each patient underwent 12 visual fields in 12 consecutive weekly sessions.

In [1]:
from PyVisualFields import visualFields
import pandas

df_VFs_py = visualFields.data_vfpwgRetest24d2() 
df_VFs_py.head()

,id,eye,date,time,age,type,fpr,fnr,fl,duration,...,l45,l46,l47,l48,l49,l50,l51,l52,l53,l54
1,1,OD,2008-08-13,00:00:00,53,pwg,0,0.0,0.00,00:00:00,...,26,29,26,27,28,30,25,25,27,31
2,1,OD,2008-08-20,00:00:00,53,pwg,0,0.0,0.06,00:00:00,...,28,28,29,29,30,31,26,25,28,31
3,1,OD,2008-08-27,00:00:00,53,pwg,0,0.0,0.00,00:00:00,...,26,27,28,25,23,28,24,26,26,25
4,1,OD,2008-09-03,00:00:00,53,pwg,0,0.0,0.06,00:00:00,...,26,27,26,25,25,27,25,24,26,29
5,1,OD,2008-09-10,00:00:00,53,pwg,0,0.0,0.13,00:00:00,...,28,28,27,25,25,27,25,24,25,26

## data_vfctrSunyiu24d2:  SUNY-IU dataset of healthy eyes for 24-2 static automated perimetry from visulaFileds package. 

### Description: This dataset of healthy eyes was used to generate the normative values sunyiu_24d2, sunyiu_24d2_pw, sunyiu_24d2, and sunyiu_24d2_pw_cps included in normvals. Courtesy of William H Swanson and Mitch W Dul

In [2]:
from PyVisualFields import visualFields
import pandas

df_VFs_p = visualFields.data_vfctrSunyiu24d2()
df_VFs_p.head()

,id,eye,date,time,age,type,fpr,fnr,fl,duration,...,l45,l46,l47,l48,l49,l50,l51,l52,l53,l54
1,1,OS,2005-02-25,15:05:00,60,ctr,0.03,0.00,0.13,00:05:18,...,27,28,29,32,28,26,25,26,27,27
2,1,OS,2005-10-13,13:45:00,61,ctr,0.05,0.00,0.07,00:05:18,...,30,31,29,30,30,26,25,28,27,23
3,1,OS,2006-04-20,15:03:00,62,ctr,0.00,0.00,0.00,00:04:54,...,28,28,30,28,28,28,27,27,28,24
4,1,OS,2007-01-22,16:35:00,62,ctr,0.03,0.17,0.13,00:05:48,...,29,25,25,26,27,26,24,24,26,23
5,1,OS,2007-09-10,11:49:00,63,ctr,0.07,0.00,0.13,00:06:54,...,27,30,25,25,25,28,26,28,27,24

## data_vfpwgSunyiu24d2(): Series of 24-2 static automated perimetry data for a patient with glaucoma (from visulaFileds package). 

### Description: This is real data for the right and left eyes, but the age has been changed to protect anonymity of the subject. Courtesy of William H Swanson and Mitch W Dul.

In [3]:
from PyVisualFields import visualFields
import pandas

df_VFs_p = visualFields.data_vfpwgSunyiu24d2()
df_VFs_p.head()

,id,eye,date,time,age,type,fpr,fnr,fl,duration,...,l45,l46,l47,l48,l49,l50,l51,l52,l53,l54
1,sample1,OD,1997-08-29,08:50:38,64,pwg,0.00,0.06,0.0,00:06:42,...,30,29,30,29,31,30,28,30,28,29
2,sample1,OD,1998-09-25,08:24:00,66,pwg,0.00,0.00,0.0,00:06:50,...,29,31,26,28,31,29,26,24,28,28
3,sample1,OD,1999-03-05,07:54:12,66,pwg,0.00,0.00,0.0,00:06:29,...,28,32,29,31,30,29,29,29,28,29
4,sample1,OD,1999-09-27,07:56:29,67,pwg,0.00,0.00,0.0,00:07:34,...,25,29,30,29,30,26,-2,20,24,22
5,sample1,OD,2000-09-29,07:55:40,68,pwg,0.02,0.00,0.0,00:06:29,...,30,31,28,30,32,30,29,28,30,30

## data_vfctrSunyiu10d2(): SUNY-IU dataset of healthy eyes for 10-2 static automated perimetry (from visualField package). 

### Description: SUNY-IU dataset of healthy eyes for 10-2 static automated perimetry. Courtesy of William H Swanson.

In [4]:
from PyVisualFields import visualFields
import pandas

df_VFs_p = visualFields.data_vfctrSunyiu10d2()
df_VFs_p.head()

,id,eye,date,time,age,type,fpr,fnr,fl,duration,...,l59,l60,l61,l62,l63,l64,l65,l66,l67,l68
1,1,OD,2002-07-12,01:26:24,48,ctr,0.01,0.0,0.13,00:00:00,...,33,33,30,32,32,32,34,31,32,34
2,2,OS,2001-02-23,17:31:12,54,ctr,0.01,0.0,0.00,00:00:00,...,34,33,31,34,33,34,36,33,33,34
3,3,OD,2001-01-30,11:02:24,23,ctr,0.02,0.0,0.00,00:00:00,...,32,34,32,33,33,33,34,33,34,30
4,4,OS,2001-02-23,17:31:12,21,ctr,0.00,0.0,0.00,00:00:00,...,31,34,33,32,34,33,33,35,33,31
5,5,OS,2002-11-15,12:28:48,30,ctr,0.00,0.0,0.00,00:00:00,...,30,32,33,32,34,34,31,30,31,31

## data_vfctrIowaPC26(): Central visual field from visualFiled package (from visualField package). 

### Description: Locations of the visual field tested have eccentricities up to 26 degrees and were obtained with a custom static automated perimetry. Data are from 98 eyes of 98 ocular healthy subjects. Each subject underwent two visual field tests, one of the central visual field (64 locations within 26 degrees of fixation) and one of the peripheral visual field (64 locations with eccentricity from 26 to up to 81 degrees)

In [5]:
from PyVisualFields import visualFields
import pandas

df_VFs_p = visualFields.data_vfctrIowaPC26()
df_VFs_p.head()

,id,eye,date,time,age,type,fpr,fnr,fl,duration,...,l55,l56,l57,l58,l59,l60,l61,l62,l63,l64
1,NP101,OS,2016-06-28,14:31:27,18,ctr,0.0,0.09,0,06:40,...,36,36,33,36,36,37,34,37,33,34
2,NP101,OS,2016-06-29,14:06:17,18,ctr,0.1,0.00,0,06:10,...,37,37,34,35,36,36,35,36,34,36
3,NP102,OD,2016-06-30,08:20:02,19,ctr,0.0,0.00,0,06:12,...,35,34,33,34,33,34,34,34,34,33
4,NP102,OD,2016-07-06,08:07:52,19,ctr,0.0,0.00,0,06:05,...,35,35,33,35,34,36,35,34,33,35
5,NP201,OD,2016-06-27,13:27:51,22,ctr,0.0,0.00,0,06:41,...,35,34,33,34,34,35,34,33,33,34

## data_vfctrIowaPeri(): Peripheral Visual Field (from visualField package)

### Description: Locations of the visual field tested have eccentricities from 26 to up to 81 degrees and were obtained with a custom static automated perimetry. Data are from 98 eyes of 98 ocular healthy subjects. Each subject underwent two visual field tests, one of the central visual field (64 locations within 26 degrees of fixation) and one of the peripheral visual field (64 locations with eccentricity from 26 to up to 81 degrees)

In [6]:
from PyVisualFields import visualFields
import pandas

df_VFs_p = visualFields.data_vfctrIowaPeri()
df_VFs_p.head()

,id,eye,date,time,age,type,fpr,fnr,fl,duration,...,l55,l56,l57,l58,l59,l60,l61,l62,l63,l64
1,NP101,OS,2016-06-28,14:44:28,18,ctr,0.1,0.1,0,07:04,...,33,32,34,34,33,32,32,34,34,33
2,NP101,OS,2016-06-29,14:16:29,18,ctr,0.0,0.0,0,07:36,...,33,33,33,33,32,33,33,33,33,33
3,NP102,OD,2016-06-30,08:39:05,19,ctr,0.0,0.0,0,07:06,...,33,33,34,34,32,29,32,34,34,33
4,NP102,OD,2016-07-06,08:28:12,19,ctr,0.0,0.0,0,07:16,...,33,34,34,33,32,32,30,33,34,33
5,NP201,OD,2016-06-27,13:37:53,22,ctr,0.0,0.0,0,07:57,...,32,31,31,32,32,29,26,32,32,32

## data_vfseries(): Combined Visual Field Series for General Progression Method (from vfprogression package)

### Description: A data frame sample including the following visual field related measurement for two eyes, each with 10 follow-ups. The columns are described in follows:
1. eyeid: eyeid, labeled as 1,2... for different eyes.
2. nvisit: number of visits.
3. yearsfollowed: follow-up years.
4. distprevn: to be updated.
5. age: in years.
6. righteye: 1 as right eye, 0 as left eye.
7. malfixrate: VF test malfixation rate.
8. ght: glaucoma hemifield test result.
9. vfi: visual field index.
10. md: mean deviation.
11. mdprob: mean deviation probability.
12. psd: pattern standard deviation.
13. psdprob: pattern standard deviation probability.
14. s1-s54: 52 sensitivity measurements.
15. td1-td54: 52 total deviation measurements.
16. tdp1-tdp54: 52 total deviation probability measurements.
17. pdp1-pdp54: 52 pattern deviation probability measurements. ...

In [7]:
from PyVisualFields import vfprogression
import pandas 

df_VFs_py = vfprogression.data_vfseries()
df_VFs_py.head()

,eyeid,nvisit,yearsfollowed,distprev,age,righteye,duration,falsenegrate,falseposrate,malfixrate,...,pdp45,pdp46,pdp47,pdp48,pdp49,pdp50,pdp51,pdp52,pdp53,pdp54
1,1.0,1,0.00,NaN,64.98,1,287,0.0,0.00,0.071429,...,1.0,1.00,1.00,0.005,1.0,1.00,1.0,1.0,1.0,1.0
2,1.0,2,0.73,0.73,65.71,1,295,0.0,0.01,0.142857,...,1.0,1.00,1.00,1.000,1.0,1.00,1.0,1.0,1.0,1.0
3,1.0,3,1.77,1.04,66.75,1,291,0.0,0.01,0.062500,...,1.0,1.00,1.00,0.020,1.0,1.00,1.0,1.0,1.0,1.0
4,1.0,4,2.78,1.01,67.76,1,347,0.0,0.02,0.066667,...,1.0,1.00,1.00,0.050,1.0,0.05,1.0,1.0,1.0,1.0
5,1.0,5,4.01,1.23,68.99,1,309,0.0,0.01,0.000000,...,1.0,0.05,0.02,0.005,1.0,0.05,1.0,1.0,1.0,1.0

## data_vfi(): Exemplary samples for progression analysis (from vfprogression package). 

### Description:
1. eyeid: eyeid, labeled as 1,2... for different eye groups.
2. yearsfollowed: follow-up years. The minimum measurements, or rows, for one eye is 3.
3. vfi: visual field index. The minimum measurements, or rows, for one eye is 3. ...

In [8]:
df_VFs_py = vfprogression.data_vfi()
df_VFs_py.head()

   yearsfollowed  eyeid  vfi
1           0.00    1.0   99
2           0.73    1.0   99
3           1.77    1.0   99
4           2.78    1.0   98
5           4.01    1.0   96

## data_cigts(): Exemplary samples for progression analysis (from vfprogression package). 

### Description: A data frame sample for CIGTS progression method, which includes visual field related measurement for two eyes, each with 10 follow-ups. Rows represent the single measurements.

In [9]:
from PyVisualFields import vfprogression
import pandas 

df_VFs_py = vfprogression.data_cigts()
df_VFs_py.head()

,yearsfollowed,eyeid,tdp1,tdp2,tdp3,tdp4,tdp5,tdp6,tdp7,tdp8,...,tdp45,tdp46,tdp47,tdp48,tdp49,tdp50,tdp51,tdp52,tdp53,tdp54
1,0.00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.00,1.00,0.010,1.0,1.00,1.0,1.00,1.0,1.0
2,0.73,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.00,1.00,1.000,1.0,1.00,1.0,1.00,1.0,1.0
3,1.77,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.00,1.00,0.050,1.0,1.00,1.0,1.00,1.0,1.0
4,2.78,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.00,1.00,0.050,1.0,0.05,1.0,0.05,1.0,1.0
5,4.01,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.05,0.05,0.005,1.0,0.05,1.0,1.00,1.0,1.0

## data_plrnouri2012(): Exemplary samples for progression analysis (from vfprogression package).

### Description: A data frame sample for Pointwise Linear Regression (PLR) method according to Nouri-Mahdavi 2012 progression, which includes visual field related measurement for two eyes, each with 10 follow-ups. Rows represent the single measurements.

In [10]:
from PyVisualFields import vfprogression
import pandas 

df_VFs_py = vfprogression.data_plrnouri2012()
df_VFs_py.head()

,yearsfollowed,eyeid,td1,td2,td3,td4,td5,td6,td7,td8,...,td45,td46,td47,td48,td49,td50,td51,td52,td53,td54
1,0.00,1.0,0,1,0,-1,2,2,1,0,...,3,-1,-1,-6,-1,-2,-1,-1,-1,-1
2,0.73,1.0,0,-1,2,3,-2,0,0,0,...,-1,0,-2,-2,1,0,-1,1,1,0
3,1.77,1.0,2,0,4,2,1,0,2,1,...,1,1,0,-3,1,-1,1,-1,0,1
4,2.78,1.0,-3,-2,0,-1,-1,1,-2,-2,...,-2,-2,-2,-4,-1,-4,-1,-3,-2,-3
5,4.01,1.0,0,0,2,-2,1,-1,1,1,...,-2,-3,-4,-9,-2,-4,-3,-3,-3,-2

##  data_schell2014(): Exemplary samples for progression analysis



### Description: returns the progression criterion after Schell et al. 2014, which is essentially like CIGTS but with MD, and only one follow-up is enough to confirm progression (from vfprogression package).

In [11]:
from PyVisualFields import vfprogression
import pandas 

df_VFs_py = vfprogression.data_schell2014()
df_VFs_py.head()

   eyeid    md
1    1.0 -0.69
2    1.0 -0.31
3    1.0 -0.20
4    1.0 -1.85
5    1.0 -2.09